/.idea
*.iml

/target
/modules/Converter/ivy
/modules/Converter/lib/runtime
/modules/Converter/lib/test
/modules/Converter/build
/modules/Converter/target
/modules/SmartPlaylists/ivy
/modules/SmartPlaylists/lib
/modules/SmartPlaylists/build
/modules/SmartPlaylists/target

/todo.txt
